main {
    h1 {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    h4 {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    h5 {
        font-size: 0.85rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    h6 {
        font-size: 0.7rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    p {
        font-size: 0.5rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    a {
        color: #fff;
        text-decoration: none;
    }

    small {
        font-size: 0.75rem;
        font-weight: lighter;
        color: #3a3a3a;
        line-height: 1;
    }

    @media (min-width: 768px) {
        h1 {
            font-size: 5rem;
        }

        h2 {
            font-size: 3.5rem;
        }

        h3 {
            font-size: 3rem;
        }

        h4 {
            font-size: 2.5rem;
        }

        h5 {
            font-size: 2rem;
        }

        h6 {
            font-size: 1.5rem;
        }

        p {
            font-size: 1.2rem;
        }
    }
}

hr {
    flex-shrink: 0;
    border-top: 0 solid rgba(0, 0, 0, 0.08);
    border-right: 0 solid rgba(0, 0, 0, 0.08);
    border-left: 0 solid rgba(0, 0, 0, 0.08);
    height: 0.0625rem;
    margin: 1rem 0;
    border-bottom: none;
    opacity: 0.25;
    width: 100%;
    background-color: transparent;
    background-image: linear-gradient(to right, rgba(0, 117, 255, 0), rgb(255, 255, 255), rgba(255, 255, 255, 0)) !important;
}