.glassmorphism {
    background: linear-gradient(151deg, rgba(116, 116, 116, 0.25), rgba(0, 0, 0, 0.35));
    backdrop-filter: blur(8px);
    border-radius: 0.75rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
}