.itemTooltip {
    position: fixed;
    margin: 0.1em 0.25em;
    padding: 0.375em;
    pointer-events: none;
    z-index: 100;
    background-color: rgba(16, 0, 16, 0.94);

    &:before {
        content: "";
        position: absolute;
        top: 0.1em;
        right: -0.1em;
        bottom: 0.1em;
        left: -0.1em;
        border-width: 0.1em;
        border-color: rgba(16, 0, 16, 0.94);
        border-style: none solid;
    }

    &:after {
        content: "";
        position: absolute;
        top: 0.1em;
        right: 0;
        bottom: 0.1em;
        left: 0;
        border: 0.1em solid #2D0A63;
        border-image: linear-gradient(rgba(80, 0, 255, 0.31), rgba(40, 0, 127, 0.31)) 1;
    }

    .textTooltip {
        font-family: var(--font-seven), -apple-system, serif;
        font-size: 16px;
        color: #ffffff;
        white-space: nowrap;
        text-align: left;
        line-height: 1.2;
        word-spacing: 4px;

        .name {
            color: #fafafa;
            text-shadow: 0.1em 0.1em 0 #3e3e3e;
        }

        .curse {
            color: rgb(255, 85, 85);
            text-shadow: 0.1em 0.1em 0 rgb(63, 21, 21)
        }

        .enchantment {
            color: #aaaaaa;
            text-shadow: 0.1em 0.1em 0 #2a2a2a;
        }

        .durability {
            color: #fcfcfc;
            text-shadow: 0.1em 0.1em 0 #3e3e3e;
        }

        .attribute {
            color: #5555ff;
            text-shadow: 0.1em 0.1em 0 #15153e;
        }

        .lore {
            margin-top: 0.2em;
            font-size: 16px;
            color: #545454;
            text-shadow: 0.1em 0.1em 0 #151415;
        }

        .categories {
            margin-top: 0.45em;

            .category {
                margin-top: 0.2em;
                color: #5555ff;
                text-shadow: 0.1em 0.1em 0 #15153e;
            }
        }
    }
}