@import "common/generic";
@import "common/tailwind.css";
@import "common/scrollbar";
@import "common/utils";
@import "app/dashboard";

html,
body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #0d1016;
    color: #fff;
}

html {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
}

a {
    color: inherit;
    text-decoration: none;
    transition: 200ms ease-in-out;

    &:hover {
        color: #b8881d;
    }
}

* {
    box-sizing: border-box;
}

*,
:after,
:before {
    box-sizing: border-box;
    border: 0 solid #c9cad0;
}

