@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-coral {
    @apply bg-gradient-to-br from-purple-900 to-blue-300;
}

.text-gradient {
    @apply text-transparent bg-clip-text;
}

.rounded-royal {
    @apply rounded-bl-[1.75rem] rounded-tr-[1.75rem]
}

.royal-border {
    @apply border-b-gold border-b-8 border-solid
}

.preserve-3d {
    transform-style: preserve-3d;
}

.animate-pulse-void {
    animation: pulse-void 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse-void {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
}